body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.6rem;
}

h1,
h2,
h3,
h4 {
  margin-top: 3rem;
  font-family: "Signika Negative", sans-serif;
  /* font-style: italic; */
}

a {
  color: #ff5722;
  font-weight: 500;
  /* text-shadow: -1px 0px rgba(0, 0, 0, 0.08); */
  text-decoration: none;
}

a:hover {
  /* background-color: rgba(0, 0, 0, 0.08); */
  color: #ff4322;
}

code {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.8);
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
}

code.content {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  font-weight: 500;
  padding: 0;
  color: rgb(228, 226, 226);
  background-color: transparent;
  line-height: 0rem;
  padding: 0;
}

blockquote {
  background-color: white;
  padding: 20px;
  font-weight: 400;
  font-family: monospace;
  border-left: 3px solid darkgray;
}

span.token.operator {
  background-color: transparent;
}

span.token.operator {
  font-weight: bold;
}

/* span.token.parameter {
  color: rgb(0, 0, 82);
} */
/*  */

span.token.comment {
  background-color: rgba(1, 1, 1, 0);
  color: darkcyan;
}

.line-highlight {
  background: linear-gradient(
    to right,
    hsla(26, 15%, 91%, 0.104) 20%,
    hsla(26, 20%, 50%, 0)
  ) !important;
}

hr {
  border: 0;
  width: 100%;

  background-color: rgb(223, 223, 235);
  margin-top: 50px;
  margin-bottom: 30px;

  height: 1px;
}
