body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.6rem;
}

h1,
h2,
h3,
h4 {
  margin-top: 3rem;
  font-family: "Signika Negative", sans-serif;
  /* font-style: italic; */
}

a {
  color: #ff5722;
  font-weight: 500;
  /* text-shadow: -1px 0px rgba(0, 0, 0, 0.08); */
  text-decoration: none;
}

a:hover {
  /* background-color: rgba(0, 0, 0, 0.08); */
  color: #ff4322;
}

.content {
  color: rgb(233, 233, 233);
  background-color: "transparent";
}

code {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.8);
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
}

blockquote {
  background-color: white;
  padding: 20px;
  font-weight: 400;
  font-family: monospace;
  border-left: 3px solid darkgray;
}
